.contact-details{
    background: radial-gradient(343px at 46.3% 47.5%, rgb(242, 242, 242) 0%, rgb(241, 241, 241) 72.9%);
    padding: 0 1em 1em 1em;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}

.transfer-send{
    padding: 1em;
    align-self: flex-start;
    gap:2em;
    h1{
        margin: 0;
    }
    label{
        gap: 0.3em;
    }
}